@import url('https://fonts.googleapis.com/css?family=Chivo');

header {
  display: flex;
  position: fixed;
  justify-content: flex-start;
  height: 4rem;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
  align-items: center;
  background-color: white;
  box-shadow: 0px -16px 15px 20px rgba(0,0,0,0.4);
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}

.cd-back {
  flex: 0 1 auto;
  font-size: 1.3em;
  font-family: 'Chivo', sans-serif;
  margin-left: 20px;
  text-decoration: none;
  color: black;
}

.cd-back-arrow {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 6px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  margin-right: 3px
}

/* dropdown */
.cd-dropdown{
  flex: 0 1 auto;
  height: 2.5em;
  width: 9em;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.dropdown-el {
  position:absolute;
  min-width: 9em;
  min-height: 2.5em;
  max-height: 2.5em;
  overflow: hidden;
  cursor: pointer;
  outline: none;
  border: .06em solid transparent;
  border-radius: 0.25em;
  background-color: #d9d9d9;
  transition: 0.3s all ease-in-out;
}
.dropdown-el input {
  display: none;
}
.dropdown-el label {
  font-size: 1.2em;
  font-family: 'Chivo', sans-serif;
  border-top: .06em solid #d9d9d9;
  display: block;
  height: 2em;
  line-height: 2em; /*was 2*/
  padding-left: 0.5em;
  cursor: pointer;
  transition: 0.3s color ease-in-out;
}
.dropdown-el label:nth-child(2) {
  margin-top: 2em;
  border-top: .06em solid #d9d9d9;
}
.dropdown-el input:checked + label {
  display: block;
  border-top: none;
  position: absolute;
  top: 1px;
}
.dropdown-el input:checked + label:nth-child(2) {
  margin-top: 0;
  position: relative;
}
.dropdown-el::after {
  content: "";
  position: absolute;
  right: 0.9em;
  top: 1.2em;
  border: 0.3em solid;
  border-color: #000 transparent transparent transparent;
}
.dropdown-el.expanded {
  border: 0.06em solid #3694d7;
  background: #fff;
  padding: 0;
  box-shadow: rgba(0, 0, 0, 0.1) 3px 3px 5px 0px;
  max-height: 15em;
}
.dropdown-el.expanded label {
  border-top: .06em solid #d9d9d9;
}
.dropdown-el.expanded label:hover {
  color: #3694d7;
}
.dropdown-el.expanded input:checked + label {
  color: #3694d7;
}
.dropdown-el.expanded::after {
  border-color: #3694d7 transparent transparent transparent;
  transform: rotate(-180deg);
  top: 0.9em;
}


/* grid css */
.wrapper {
  padding-top: 4rem;
  margin: 50px auto;
  background: #fff;
  max-width: 1200px;
  box-shadow: 0px 25px 30px -20px rgba(0, 0, 0, 0.2);
}

.filter {
  padding: 20px 0;
  margin-bottom: 20px;
  border-bottom: solid 1px #e3e3e3;
  text-align: center;
  font-size: 12px;
}

.filter a {
  margin-right: 10px;
  color: #666;
  text-decoration: none;
  border: 1px solid #ccc;
  padding: 4px 15px;
  border-radius: 50px;
  display: inline-block;
}

.filter a.current {
  background: #1e1e1e;
  border: 1px solid #1e1e1e;
  color: #f9f9f9;
}

.grid {
  margin: 0 auto;
  padding: 10px;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

.grid-item {
  width: 180px;
  height: auto;
  margin-bottom: 10px;
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}

.fancybox img {
  max-width: 100%;
  display: block;
}

@media only screen and (max-width: 380px) {
  .cd-back span {
    visibility: hidden;
  }
}

/*
.fancybox {
  display: block;
  width: 100%;
  height: 100%;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
} */

/*
.grid-item:nth-child(4n-5) {
  height: 50px;
}

.grid-item:nth-child(2n) {
  height: 300px;
}

.grid-item:nth-child(3n) {
  height: 120px;
} */